{% extends "base.html" %}

{% block content %}

    <h1>Login</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <li>{{ message }}</li>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        {{ form.csrf_token }}
        <div>
            {{ form.name.label }} {{ form.name }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
    <br/>
    <a href="{{url_for("route_register")}}">Register here if haven't already</a>

{% endblock %}
